VITE_API_URL=http://localhost:3050
VITE_GOOGLE_AUTH_ENABLED=false

DATABASE_URL=file:.wrangler/state/v3/d1/miniflare-D1DatabaseObject/<hash>.sqlite

PGLITE_BROWSER_PROXY_TCP_PORT=15432
PGLITE_BROWSER_PROXY_WS_PORT=15433
VITE_PGLITE_PROXY_WS_PORT=15433
PGLITE_USE_BROWSER_PROXY=true
PGLITE_GATEWAY_PORT=5433
PGLITE_GATEWAY_URL=postgresql://postgres@127.0.0.1:5433/postgres
PGLITE_BROWSER_PROXY_URL=postgresql://postgres@127.0.0.1:15432/postgres
